<div>
    <a href="/blog/{{id}}">
        <h3>{{title}}</h3>
        <p>{{content}}</p>
    </a>
    <div>
        <button id="editDashBtn">edit</button>
        <button id="deleteDashBtn">delete</button>
    </div>
</div>
<script src="/js/dashboard.js"></script>