<div>
    <a href="/blog/{{id}}">
        <h3>{{title}}</h3>
        <p>{{content}}</p>
    </a>
    <div>
        <button class="editDashBtn">edit</button>
        <button class="deleteDashBtn">delete</button>
    </div>
</div>