<div>
    <h1>{{BlogData.title}}</h1>
    <p>{{BlogData.content}}</p>
    <p>Created by: {{BlogData.user.username}} at {{format_date BlogData.date_created}}</p>
</div>
<div>
    <h3>Comments:</h3>
    {{#each CommData as |Comments|}}
    {{>comment-details}}
    {{/each}}
</div>
<div>
    <h3>Leave a comment:</h3>
</div>