<div>
    <h1>Blog Title:</h1>
    <input type="text" id="blogTitle">
    <br>
    <h2>Contents:</h2>
    <textarea id="blogContents"></textarea>
    <br>
    <button id="createBlog">Create New Post</button>
</div>

<script src="/js/newBlogPost.js"></script>