<div>
    {{#each dbBlogData as |UserBlogposts|}}
    {{>blog-dashboard}}
    {{/each}}
</div>
<br>
<div>
    <button id="createNewBlogPost">Create New Blog Post</button>
</div>

<script src="/js/dashboard.js"></script>